@media (min-width: 1201px) 
    and (max-width: 1440px) {
        .main_text > h2 {
            font-size: 4vw;
        }

        .main_text > p {
            font-size: 1.2vw;
        }

        .portfolio_container > h1 {
            padding-bottom: 1vw;
        }

        .single_project {
            height: 25vw;
        }

        #gallery > h1 {
            margin-top: 6vw;
        }

        .form_container > h1 {
            margin: 5vw auto 3vw auto;
        }

        .form_container > div {
            height: 25vw;
        }
}

@media (min-width: 1001px) 
    and (max-width: 1200px) {
        nav > div > a {
            font-size: 2.5vw;
        }

        nav > div:nth-child(3) > a {
            font-size: 3vw;
        }

        .main_text > h2 {
            font-size: 3vw;
        }

        .main_text > p {
            font-size: 1.2vw;
        }

        .main_left {
            width: 30vw;
            height: 60vw;
            top: -10%;
            left: -35%;
        }

        .main_content {
            top: -130%;
        }

        .main_right {
            top: -160%;
        }

        .portfolio_logo {
            width: 100%;
            padding-bottom: 2vw;
        }

        .portfolio_container > h1 {
            padding-top: 4vw;
            padding-bottom: 1vw;
        }

        .single_project {
            width: 40vw;
            height: 30vw;
            margin: 0 auto;
        }

        .single_achievement > h3 {
            font-size: 2vw;
        }

        .contact_side {
            font-size: 2vw;
        }

        .form_container > div {
            height: 30vw;
        }

        footer {
            font-size: 2vw;
        }
}

@media (min-width: 769px) 
    and (max-width: 1000px) {
        h1 {
            font-size: 4vw;
        }

        nav > div > a {
            font-size: 2.8vw;
        }

        nav > div:nth-child(3) > a {
            font-size: 3.5vw;
        }

        .main_view {
            padding-bottom: 10vw;
        }

        .main_text > h2 {
            font-size: 5vw;
        }

        .main_text > p {
            font-size: 1.4vw;
        }

        .main_left {
            width: 35vw;
            height: 50vw;
            left: -30%;
            top: 30%;
        }

        .main_content {
            top: -100%;
            left: -5%;
            height: 25vw;
            width: 50vw;
        }

        .main_right {
            width: 45vw;
            height: 50vw;
            top: -180%;
            left: 25%;
        }

        .portfolio_container > h1 {
            padding: 4vw auto 1vw auto;
        }

        .single_project {
            height: 40vw;
            width: 60vw;
            margin: 1vw auto;
        }

        .hover_animation > a > img {
            width: 5vw;
        }
        
        .gallery_container {
            margin-top: 0;
            width: 80%;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'first'
            'second'
            'third'
            'fourth'
            'fifth';
        }

        .achievements_photo > img {
            width: 25vw;
            left: 25%;
        }

        .achievements_container {
            margin-top: 5vw;
            width: 50%;
        }

        .single_achievement {
            width: 40vw;
        }
        
        .single_achievement > h3, .contact_side { 
            font-size: 2vw;
        }

        .form_container {
            flex-wrap: wrap;
            gap: 2vw;
        }

        .form_container > div {
            height: 35vw;
            width: 40vw;
        }

        .form_container > div > h4 {
            font-size: 2.5vw;
        }

        .one_info > p {
            font-size: 2vw;
        }

        .one_info > img {
            width: 10%;
        }

        iframe {
            height: 80%;
            width: 90%;
        }

        input, textarea {
            width: 95%;
            height: 5vw;
            font-size: 1.7vw;
        }

        input[type=submit] {
            height: 5vw;
        }

        .iframe_side, .contact_side {
            margin-top: 0;
        }

        .info_container {
            margin-top: 10%;
        }

        footer {
            font-size: 2.2vw;
        }

}

@media (min-width: 501px) 
    and (max-width: 768px) {
        h1 {
            font-size: 5vw;
        }

        header, nav > div {
            height: 10vw;
        }

        nav > div > a {
            font-size: 4vw;
        }

        nav > div:nth-child(3) > a {
            font-size: 5vw;
        }

        .blank {
            height: 0;
        }

        .main_view {
            padding-bottom: 20vw;
        }

        .main_left {
            width: 30vw;
            height: 20vw;
            left: -30%;
            top: 10%;
        }

        .main_content {
            width: 60vw;
            height: 30vw;
            top: -10%;
            left: 0;
        }

        .main_text > h2 {
            font-size: 6vw;
        }

        .main_text > p {
            font-size: 2vw;
        }

        .main_right {
            width: 50vw;
            height: 40vw;
            top: -80%;
            left: 20%;
        }

        .single_project:nth-child(2) {
            margin-bottom: 10vw;
        }

        .portfolio_container > h1 {
            padding-top: 4vw;
            padding-bottom: 1vw;
        }

        .single_project {
            height: 45vw;
            width: 70%;
            margin: 1vw auto;
        }

        .hover_animation > a > img {
            width: 5vw;
        }

        #gallery > h1 {
            margin-top: 8vw;
        }
        
        .gallery_container {
            width: 80%;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'first'
            'second'
            'third'
            'fourth'
            'fifth';
        }

        .achievements_all {
            flex-wrap: wrap;
        }

        .achievements_photo {
            width: 40vw;
            left: 20%;
        }

        .achievements_photo > img {
            width: 40vw;
            left: 20%;
        }

        .achievements_container {
            margin: 10vw auto;
            width: 70%;
        }

        .single_achievement {
            width: 80%;
            margin-left: 15%;
        }

        .single_achievement > h3 { 
            font-size: 3.5vw;
            width: 80%;
        }

        .contact_side {
            font-size: 2vw;
        }

        .form_container {
            flex-wrap: wrap;
        }

        .form_container > div {
            height: 60vw;
            width: 60%;
        }

        .form_container > div > h4 {
            font-size: 4vw;
        }

        .one_info > img {
            width: 12%;
        }

        .one_info > p {
            font-size: 3vw;
        }

        .flex_center {
            padding-top: 5vw;
        }

        .iframe_side {
            margin-bottom: 2vw;
        }

        iframe {
            height: 80%;
        }

        input, textarea {
            height: 8vw;
            width: 95%;
            font-size: 2.5vw;
        }

        input[type=submit] {
            height: 8vw;
        }

        .info_container {
            margin-top: 0%;
        }

        footer {
            font-size: 4vw;
            margin: 0 auto 4vw auto;
        }
}

@media (min-width: 300px) 
    and (max-width: 500px) {
        header, nav > div {
            height: 15vw;
        }

        h1, nav > div:nth-child(3) > a, .main_text > h2 {
            font-size: 5vw;
        }

        nav > div > a {
            font-size: 4vw;
        }

        .blank {
            height: 0;
        }

        .main_text > p {
            font-size: 2vw;
        }

        .main_view {
            padding-bottom: 20vw;
        }

        .main_left {
            width: 40vw;
            height: 30vw;
            left: -20%;
            top: 0;
        }

        .main_content {
            top: -30%;
            left: 0;
            width: 70vw;
            height: 30vw;
        }

        .main_right {
            width: 50vw;
            height: 40vw;
            top: -100%;
            left: 30%;
        }

        #portfolio {
            height: 150vw;
        }

        .portfolio_logo {
            width: 100%;
            padding-bottom: 2vw;
            flex-wrap: wrap;
        }

        .portfolio_container > h1 {
            padding-top: 4vw;
            padding-bottom: 1vw;
        }

        .single_project {
            height: 60vw;
            width: 80%;
            margin: 1vw auto;
        }

        .hover_animation > a > img {
            width: 5vw;
        }

        #gallery > h1 {
            margin-top: 8vw;
        }
        
        .gallery_container {
            width: 80%;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'first'
            'second'
            'third'
            'fourth'
            'fifth';
        }

        .achievements_all {
            flex-wrap: wrap;
        }

        .achievements_photo {
            width: 40vw;
            left: 15%;
        }

        .achievements_photo > img {
            width: 40vw;
            left: 15%;
        }

        .achievements_container {
            margin: 5vw auto;
            width: 80%;
        }

        .single_achievement {
            width: 60%;
            margin-left: 20%;
        }

        .single_achievement > h3 { 
            font-size: 3.5vw;
            width: 85%;
        }

        #contact {
            height: 220vw;
        }

        .contact_side {
            font-size: 2vw;
        }

        .form_container {
            flex-wrap: wrap;
            gap: 2vw;
        }

        .form_container > div {
            height: 60vw;
            width: 80%;
            margin-bottom: 2vw;
        }

        .form_container > div > h4 {
            font-size: 5vw;
        }

        .one_info > img {
            width: 12%;
        }

        .one_info > p {
            font-size: 3vw;
        }

        iframe {
            height: 85%;
        }

        form > input:nth-child(1) {
            margin-top: 7vw;
        }

        input, textarea {
            width: 95%;
            font-size: 3vw;
        }

        input[type=submit], input, textarea {
            height: 10vw;
        }

        footer {
            margin: 10vw auto 5vw auto;
            font-size: 4vw;
        }
}